<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Sample</title>

    <link href="bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
    </link>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="bootstrap-responsive.css" th:href="@{/resources/css/bootstrap-responsive.min.css}" rel="stylesheet">
    </link>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- {!begin layout} -->
<div th:include="layout :: head"></div>
<!-- {!end layout} -->

<div class="container-fluid">
    <div th:include="layout :: left"></div>
    <div class="hero-unit span9">
        <h3>Sample</h3>
        <p>
            This is a sample page
        </p>
    </div>
</div>
<div th:include="layout :: foot"></div>
</body>
</html>
